* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    list-style: none;
}

body {
    background-color: #FFFFFF;
    color: #333333;
    line-height: 1.6;
}
header {
    background-color: black;
    position: fixed;
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 18vh;
}
header img{
    width: 40%;
}

header nav ul {
    display: flex;
    gap: 10%;
    justify-content: center;
}

header nav ul li a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-top: 6%;
}

header nav ul li a:hover {
    background-color: #22D3EE;
    color: #FFFFFF;
}

.banner {
    width: 100%;
    height: auto;
}

main section, main div {
    background-color: #FFFFFF;
    flex-basis: 22%;
    padding: 1.6%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main section h2 {
    color: #22D3EE;
    margin-bottom: 2%;
}

.descSimple p {
    margin-bottom: 2%;
    font-size: 100%;
    font-weight: bold;
}

.cuadruple {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-top: 5%;
}

.cuadruple div {
    background-color: #000000;
    flex-basis: 18%;
    padding: 1.6%; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 9px 30px #00b6d1;
}

.cuadruple div:hover {
    margin: -1.2rem;
    font-size: 1.15rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.cuadruple h2 {
    color: #22d3ee;
}

.cuadruple p {
    color:white;
}

.contacto{

    display: flex;
    justify-content: center;
}
.contacto div{

background-color: #FFFFFF;
    flex-basis: 22%;
    padding: 1.6%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}